/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-logo img {
    width: 200px;
    height: 60px;
    object-fit: contain;
}

.logo img {
    width: 200px;
    /* height: 100px; */
    object-fit: contain;

}

section {
    padding-top: 60px;
    padding-bottom: 40px;
}

.navbar {
    background-color: #07162BE6;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-item a {
    color: #ffff;
    font-weight: 600;
}

.nav-link:focus,
.nav-link:hover {
    color: #FF8C32;
}



.request-btn {
    background-color: #FF8C32;
    border-radius: 50px;

    font-weight: 600;
}

.request-btn a {
    color: #0A1D37;
}

.request-btn:hover a {
    color: #ffff;
}

.request-btn:hover {
    background-color: #E39F24;
}



.banner {
    position: relative;
    background-image: url('image/banner-image.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .overlay {
    position: absolute;
    inset: 0;
    background: rgba(36, 35, 35, 0.55);
}

.banner .container {
    position: relative;
    z-index: 2;
}

.texe-h3 {
    color: #0A1D37;
}

.about-us-img-1 img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;

}

.about-us-img-1 {
    position: relative;
}

.check-icon i {
    color: #FF8C32;
}

.about-us-img-2 img {
    width: 350px;
    height: 300px;
    bottom: -80px;
    left: 180px;
    position: absolute;
}

.service-img img {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.service-text p {
    color: #ffff;
    font-weight: 600;
    font-size: 20px;
}

.service-img {
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25); */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;

}

.service-img:hover {
    transform: translateY(-6px);
}

.service-text {
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent); */
    background: linear-gradient(181.05deg, rgb(4 34 69 / 47%) 62.46%, rgb(1 20 42 / 77%) 85.88%);
}

.service-title {
    text-shadow:
        0 2px 4px rgba(0, 0, 0, 0.9),
        0 0 6px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.5px;
}

.gallery-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
}


.gallery-img {
    overflow: hidden;
    border-radius: 10px;
}

.gallery-img:hover img {
    transform: scale(1.3);
    opacity: 0.9;
}


.contact-detail {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px 10px 10px 15px;

}

.form-shad {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
}

.contact-form-inner .form-control {
    padding: 14px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background: transparent;
    font-size: 15px;
}

.contact-form-inner .form-control:focus {
    outline: none;
    box-shadow: none;
}

.contact-detail i {
    color: #FF8C32;
}

.submit-btn {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: #FF8C32;
    color: #0A1D37;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #E39F24;
    color: #fff;
}

.ph-number a,
.mail a {
    text-decoration: none;
    color: #fff;
}

.location-section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.contact-detail a:hover {
    color: #FF8C32 !important;
}

.footer-sec {
    width: 100%;
    background-color: #07162B;
    padding-top: 50px;
}

.footer-icon a i {
    color: #FF8C32;
}

.footer-icon a i:hover {
    color: #ffff;
}

.footer-sec h4 a {
    color: #FF8C32 !important;
    font-weight: 900 !important;
}

.address-1:hover {
    color: #ffff;
}

.footer-sec p {
    color: #fff;
    font-size: 14px
}

.footer-sec h6 {
    color: #fff;
}

.footer-sec ul li {
    list-style: none;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

.footer-sec ul li a:hover {
    color: #FF8C32 !important;
}

.footer-a i {
    font-size: 17px;
    color: #FF8C32;
}

.footer-sec ul {
    padding-left: 0px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #f5f2f2;
}

.footer-icon i {
    color: #fff;
}

.footer-a a {
    text-decoration: none;
    color: #fff;
}

.footer-a a:hover {
    color: #FF8C32;
}

.anvis {
    color: #FF8C32;
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler-icon {
    filter: invert(1);
}











@media screen and (max-width: 768px) {
    .navbar-nav {
        margin-left: 0px;
    }

    .about-us-img-1 img {
        width: 265px;
        height: 260px;
    }

    .about-us-img-2 img {
        bottom: -110px;
        left: 70px;

    }

    .service-img img {
        height: 250px;
    }

    .gallery-img img {
        height: 230px;
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .navbar-nav {
        margin-left: 0px;
    }

    .banner {
        height: 70vh;
    }

    .about-us-img-2 img {
        display: none;
    }

    .about-us-img-1 img {
        margin-bottom: 30px;
        width: 100%;
        height: 300px;
    }

    .about-row {
        padding-bottom: 0px !important;
    }

    .para {
        margin-top: 0px !important;
    }

    .list-unstyled {
        font-size: 15px;
    }

    .gallery-img {
        margin-bottom: 15px !important;
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}